<div class="homepage">
    <div class="left">
        <ul class="menu">
            <li>
            <span>following</span>
            <span>followers</span>
            </li>
            <li>Home</li>
            <li>Connect</li>
            <li>Discover</li>
            <li>Profile</li>
            <li>Statistics</li>
        </ul>
    </div>
    <div class="center">
        <ul>
            <li>tweets</li>
            <li>photos</li>
            <li>videos</li>
        </ul>
    </div>
    <div class="right"></div>
</div>