<div class="who_to_follow">
  <div class="wtf-and-button">
    <h1>Who to follow</h1>
  </div>
  <ul>
    <% current_user.who_to_follow.each do |random_user| %>
      <li>
        <div class="who-to-follow">
          <div class="author_image_container">
            <%= image_tag(random_user.photo.url, class: "author_image") if random_user.photo %>
          </div>
          <%= link_to "#{random_user.fullname}", user_path(random_user)%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
